<!DOCTYPE html>
<html>
<head>
    <title>Image Upload App</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'imguploader_style.css')}}">
</head>
<body>

<h1 class="title">Upload Image by student's full name</h1>

<form id="uploadForm">
    <input type="file" name="image" id="imageInput" required>
    <button type="submit" class="btnupload">Upload</button>
</form>

<p id="message"></p>

<hr>

<h2 class="subtitle">Gallery</h2>
<div class="gallery" id="gallery">
    {% for image in images %}
        <div class="card" id="image-{{ image.id }}">
            <img src="{{ url_for('static', filename='uploads/' + image.filename) }}">
            <button class="btndelete" onclick="deleteImage({{ image.id }})">Delete</button>
        </div>
    {% endfor %}
</div>

<script src="{{url_for('static', filename = 'imguploader_script.js')}}"></script>


</body>
</html>